<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
        <a class="navbar-brand mr-4" href="/">BrightRead</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/library">Library</a>
                {% if user_admin %}
                    <a class="nav-item nav-link" href="/admin">Admin</a>
                {% endif %}
                <form method="get" action="/search">
                    <input type="text" name="query" placeholder="Enter book title or author" style="border-radius:6px;">
                    <button type="submit" style="border-radius:6px;">Search</button>
                </form>
            </div>
        </div>
        <div class="btn btn-primary">
            {% if current_user.is_authenticated %}
                {% if profile_pic %}
                    <img src="{{ profile_pic }}" style="width:38px; height:38px; border-radius:50%;">
                {% endif %}
                <span style="color:black;">{{ name }}</span>
                <a href="{{ url_for('logout') }}" class="btn">Log out</a>
            {% else %}
                <a href="{{ url_for('login_google') }}" class="btn">Log in</a>
            {% endif %}
        </div>
    </div>
</nav>